@page
@model porte_folio.Views.Home.ProjetcsModel
@{
}
<style>

    body {
        background-color: lightblue
    }

    a {
        text-decoration: none;
        color: inherit
    }

</style>

<div class="container my-4">
    <center>
        <p style="font-size:35px; letter-spacing: 2px"> <b><big>PROJECTS</big></b></p>

        <p style="letter-spacing: 2px">
            Hello ! these are the list of some of the Projects done by me,<br />
            simultanesously with my academics. You can also <br />
            Explore my <a href="https://github.com/ladawi" target="_blank" style="color:blue; text-decoration:none !important;">GitHub</a> Repositories
        </p>
    </center>
    <br />
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card mx-auto shadow-lg bg-white">
                <div class="row g-0">
                    <div class="col-md-8 my-3">
                        <div class="card-body">
                            <h3 class="card-title mx-2">Push_Swap</h3>
                            <p class="card-text mx-2">
                                This project involves sorting data on a stack, with a limited set of instructions, and the smallest number of moves.<br />
                                To make this happen, you will have to manipulate various sorting algorithms and choose the most appropriate solution(s) for optimized data sorting.
                            </p>
                            <button ID="Resume" class="btn px-5" style="border-radius: 30px; background-color: #6db1d3 " OnClick="window.open('https://cdn.intra.42.fr/pdf/pdf/90132/fr.subject.pdf')" />Subject</button>

                        </div>

                    </div>
                    

                </div>

            </div>

        </div>

    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card mx-auto shadow-lg bg-white">
                <div class="row g-0">
                    <div class="col-md-8 my-3">
                        <div class="card-body">
                            <h3 class="card-title mx-2">Philosophers</h3>
                            <p class="card-text mx-2">
                                Eat, Sleep, Spaghetti, repeat. This project is about learning how threads work by precisely timing a group of philosophers<br />
                                on when to pick up forks and eat spaghetti without dying from hunger.
                            </p>
                            <button ID="Resume" class="btn px-5" style="border-radius: 30px; background-color: #6db1d3 " OnClick="window.open('https://cdn.intra.42.fr/pdf/pdf/90143/en.subject.pdf')" />Subject</button>

                        </div>

                    </div>


                </div>

            </div>

        </div>

    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card mx-auto shadow-lg bg-white">
                <div class="row g-0">
                    <div class="col-md-8 my-3">
                        <div class="card-body">
                            <h3 class="card-title mx-2">Minishell</h3>
                            <p class="card-text mx-2">
                                The objective of this project is to create a simple shell.
                            </p>
                            <button ID="Resume" class="btn px-5" style="border-radius: 30px; background-color: #6db1d3 " OnClick="window.open('https://cdn.intra.42.fr/pdf/pdf/90158/en.subject.pdf')" />Subject</button>

                        </div>

                    </div>
                    <div class="col-md-4">
                        <img src="~/Images/Terminal.png" class="img-fluid" width="322" height="404">

                    </div>

                </div>

            </div>

        </div>

    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card mx-auto shadow-lg bg-white">
                <div class="row g-0">
                    <div class="col-md-8 my-3">
                        <div class="card-body">
                            <h3 class="card-title mx-2">cub3D</h3>
                            <p class="card-text mx-2">
                                This project is inspired by the world-famous eponymous 90's game, which was the first FPS ever. It allowed me to explore ray-casting.<br />
                                My goal was to make a dynamic view inside a maze, in which i'll have to find my way.
                            </p>
                            <button ID="Resume" class="btn px-5" style="border-radius: 30px; background-color: #6db1d3 " OnClick="window.open('https://cdn.intra.42.fr/pdf/pdf/90204/en.subject.pdf')" />Subject</button>

                        </div>

                    </div>
                    <div class="col-md-4">
                        <img src="~/Images/cub3d.png" class="img-fluid" width="100%" height="100%" style=" top: 50%;object-fit: cover;">

                    </div>

                </div>

            </div>

        </div>

    </div>

    <br />
    <br />
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card mx-auto shadow-lg bg-white">
                <div class="row g-0">
                    <div class="col-md-8 my-3">
                        <div class="card-body">
                            <h3 class="card-title mx-2">ft_irc</h3>
                            <p class="card-text mx-2">
                                Create my own IRC server in C++, fully compatible with an official client.
                            </p>
                            <button ID="Resume" class="btn px-5" style="border-radius: 30px; background-color: #6db1d3 " OnClick="window.open('https://cdn.intra.42.fr/pdf/pdf/84897/en.subject.pdf')" />Subject</button>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card mx-auto shadow-lg bg-white">
                <div class="row g-0">
                    <div class="col-md-8 my-3">
                        <div class="card-body">
                            <h3 class="card-title mx-2">ft_containers</h3>
                            <p class="card-text mx-2">
                                In this project, i had to implement a few container types of the C++ standard template library.
                            </p>
                            <button ID="Resume" class="btn px-5" style="border-radius: 30px; background-color: #6db1d3 " OnClick="window.open('https://cdn.intra.42.fr/pdf/pdf/81715/en.subject.pdf')" />Subject</button>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card mx-auto shadow-lg bg-white">
                <div class="row g-0">
                    <div class="col-md-8 my-3">
                        <div class="card-body">
                            <h3 class="card-title mx-2">ft_transcendence</h3>
                            <p class="card-text mx-2">
                                This project is about creating a website for the mighty Pong with multiplayers battles, ladderboard, friends list and friends batle and multiple live chat !
                            </p>
                            <button ID="Resume" class="btn px-5" style="border-radius: 30px; background-color: #6db1d3 " OnClick="window.open('https://cdn.intra.42.fr/pdf/pdf/90184/en.subject.pdf')" />Subject</button>

                        </div>

                    </div>
                    <div class="col-md-4">
                        <img src="~/Images/pong.png" class="img-fluid" width="100%" height="100%" style=" top: 50%;object-fit: cover;">

                    </div>

                </div>

            </div>

        </div>

    </div>
